/* ExpenseForm.css */

.new-expense__controls {
  margin-bottom: 1rem;
}

.new-expense__control {
  margin-bottom: 0.5rem;
}

.new-expense__control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #444;
}

.new-expense__control input[type="text"],
.new-expense__control input[type="number"],
.new-expense__control input[type="date"] {
  width: 100%;
  padding: 0.5rem;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

.new-expense__control input[type="text"]:focus,
.new-expense__control input[type="number"]:focus,
.new-expense__control input[type="date"]:focus {
  outline: none;
  border-color: #4f005f;
  background-color: #ebebef;
}

.new-expense__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.new-expense__actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: #40005d;
  color: white;
  transition: background-color 0.3s ease;
}

.new-expense__actions button:hover,
.new-expense__actions button:active {
  background-color: #510674;
}

.new-expense__actions button[type="submit"] {
  background-color: #00802b;
}

.new-expense__actions button[type="submit"]:hover,
.new-expense__actions button[type="submit"]:active {
  background-color: #005f1f;
}

/* Style specifically for the cancel button to differ from the submit button */
.new-expense__actions button[type="button"] {
  background-color: #a00;
}

.new-expense__actions button[type="button"]:hover,
.new-expense__actions button[type="button"]:active {
  background-color: #f00;
}
